@model MVC_Day4.Models.Product
@{
    ViewData["Title"] = "ObjectToView";
}

<h1>ObjectToView</h1>

<h1>Details of the Product are:</h1>
<h3>Code = @Model.PCode</h3>
<h3>Name = @Model.Name</h3>
<h3>Quantity in Stock = @Model.QtyInStock</h3>
<h3>Details = @Model.Details</h3>
<h3>Price = @Model.Price</h3>


<h1>Thank Youuu</h1>