
@{
    ViewData["Title"] = "PasswithBag";
}

<h1>PasswithBag</h1>
<h1>Question 1: Passing 1 object using view bag</h1>
<h3>The Product code is @ViewBag.Product.PCode</h3>
<h3>The Product Name is @ViewBag.Product.Name</h3>
<h3>The Total Quantity present in Stock is @ViewBag.Product.QtyInStock</h3>
<h3>The Details of the Product are @ViewBag.Product.Details</h3>
<h3>The Prics of the Prouct is @ViewBag.Product.Price</h3>

<h1>Thank you....</h1>
